{% extends 'base.html' %}
{% block content %}
<!-- header -->
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-cogs"></i> Aufbereitung</b></h5>
</header>
<form>
    <div class="w3-container w3-padding-16">
		{% set num_routes = processing['route_index']|length %}
		{% set cnt_routes = namespace(value=0) %}
		{% for r in range(0, (num_routes/4)|round(method='ceil')|int) %}
		<div class="w3-row">
			{% for c in range(0, 4) %}
			<div class="w3-col l3 m6 s12">
				{% if cnt_routes.value < processing['route_index']|length %}
				{% set route = processing['route_index'][cnt_routes.value] %}
				<input class="w3-check w3-lockable" type="checkbox" id="route-{{ route['id'] }}" name="data[processing][route_index][{{ cnt_routes.value }}][include]" value="true"{% if route['include'] %} checked="checked"{% endif %} />
				<label for="route-{{ route['id'] }}">Linie {{ route['name'] }} ({{ route['id'] }})</label>
				{% set cnt_routes.value = cnt_routes.value + 1 %}
				{% endif %}
			</div>
			{% endfor %}
		</div>
		{% endfor %}
    </div>
    <div class="w3-container w3-padding-16">
        <button class="w3-button w3-mobile w3-theme w3-lockable" ajaxcall="{{ url_for('ajaxcall', group='static', function='process') }}" type="submit">
            <i class="fa fa-cogs"></i> Daten aufbereiten & validieren
        </button>
		<div class="w3-mobile" style="display:inline-block;text-align:center;">
			<img class="w3-loading w3-hide" src="{{ url_for('static', filename='img/loading.gif') }}" width="40" height="40" style="margin:auto;" />
		</div>
    </div>
</form>
{% endblock %}